In [2]:
import pandas as pd
t = pd.read_csv('trip.csv')
s = pd.read_csv('station.csv')
w = pd.read_csv('weather.csv')

In [5]:
for key, val in t.groupby('usertype'):
    print(key)

Member
Short-Term Pass Holder

In [21]:
t['tripduration'].mean()

1202.6122102556499

In [34]:
2019 - t['birthyear'].dropna().mode()

0    32.0
dtype: float64

In [56]:
for key, val in w.groupby([pd.to_datetime(w['Date']).dt.month, pd.to_datetime(w['Date']).dt.year]):
    print(key, val['Precipitation_In'].mean(), val['Precipitation_In'].median())

(1, 2015) 0.07064516129032258 0.01
(1, 2016) 0.2164516129032258 0.07
(2, 2015) 0.16321428571428573 0.025
(2, 2016) 0.17344827586206898 0.08
(3, 2015) 0.13516129032258065 0.0
(3, 2016) 0.1787096774193548 0.06
(4, 2015) 0.05666666666666668 0.0
(4, 2016) 0.046000000000000006 0.0
(5, 2015) 0.014193548387096775 0.0
(5, 2016) 0.010645161290322582 0.0
(6, 2015) 0.005666666666666667 0.0
(6, 2016) 0.05533333333333334 0.0
(7, 2015) 0.00870967741935484 0.0
(7, 2016) 0.015483870967741937 0.0
(8, 2015) 0.035483870967741936 0.0
(8, 2016) 0.000967741935483871 0.0
(9, 2015) 0.041 0.0
(10, 2014) 0.30052631578947375 0.14
(10, 2015) 0.12064516129032256 0.01
(11, 2014) 0.14166666666666664 0.01
(11, 2015) 0.23399999999999999 0.065
(12, 2014) 0.14516129032258066 0.01
(12, 2015) 0.3274193548387097 0.12

In [60]:
for key, val in s.groupby('station_id'):
    print(key, val['current_dockcount'].mean())

BT-01 18.0
BT-03 16.0
BT-04 16.0
BT-05 14.0
CBD-03 20.0
CBD-04 18.0
CBD-05 20.0
CBD-06 18.0
CBD-07 20.0
CBD-13 18.0
CD-01 0.0
CH-01 16.0
CH-02 20.0
CH-03 16.0
CH-05 16.0
CH-06 16.0
CH-07 18.0
CH-08 26.0
CH-09 16.0
CH-12 14.0
CH-15 16.0
CH-16 18.0
DPD-01 18.0
DPD-03 24.0
EL-01 16.0
EL-03 18.0
EL-05 18.0
FH-01 0.0
FH-04 20.0
ID-04 16.0
PS-04 18.0
PS-05 18.0
SLU-01 20.0
SLU-02 18.0
SLU-04 18.0
SLU-07 18.0
SLU-15 20.0
SLU-16 20.0
SLU-17 16.0
SLU-18 0.0
SLU-19 16.0
SLU-20 20.0
SLU-21 20.0
SLU-22 18.0
UD-01 18.0
UD-02 18.0
UD-04 16.0
UD-07 16.0
UW-01 0.0
UW-02 14.0
UW-04 16.0
UW-06 14.0
UW-07 14.0
UW-10 16.0
UW-11 16.0
WF-01 24.0
WF-03 18.0
WF-04 18.0

In [62]:
s['current_dockcount'].mean()

16.517241379310345

In [69]:
lost = s[s['install_dockcount'] > s['current_dockcount']]
gained = s[s['install_dockcount'] < s['current_dockcount']]
if lost > gained:
    print('More likely to lose')
elif lost < gained:
    print('')

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
7,CBD-06,2nd Ave & Spring St,47.605950,-122.335768,10/13/2014,20,11/9/2015,18,NaN
10,CD-01,12th Ave & E Yesler Way,47.602103,-122.316923,5/22/2015,16,8/9/2016,0,8/9/2016
17,CH-08,Cal Anderson Park / 11th Ave & Pine St,47.615486,-122.318245,10/13/2014,28,2/24/2015,26,NaN
19,CH-12,Bellevue Ave & E Pine St,47.615456,-122.326729,10/13/2014,18,NaN,14,NaN
22,DPD-03,Children's Hospital / Sandpoint Way NE & 40th ...,47.663509,-122.284119,10/13/2014,30,3/24/2015,24,NaN
26,FH-01,Frye Art Museum / Terry Ave & Columbia St,47.607281,-122.324783,10/13/2014,16,3/18/2016,0,3/18/2016
37,SLU-17,Lake Union Park / Valley St & Boren Ave N,47.626041,-122.335831,10/13/2014,18,2/23/2015,16,NaN
38,SLU-18,Dexter Ave & Denny Way,47.618285,-122.342205,10/13/2014,20,11/2/2015,0,7/2/2016
46,UW-01,UW McCarty Hall / Whitman Ct,47.660268,-122.304826,10/13/2014,16,10/29/2015,0,10/29/2015
48,UW-04,15th Ave NE & NE 40th St,47.655590,-122.311890,10/13/2014,18,2/20/2015,16,NaN
50,UW-07,UW Intramural Activities Building,47.653713,-122.302162,10/13/2014,20,2/20/2015,14,NaN